<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi1ersitioweb</title>
  <style>
    body {
      background-color: #4d4c4c; /* c:\Users\HP ELITEBOOK\Documents\Nueva carpeta\fondo.jpg */
      color: white;              /* Texto blanco para buen contraste */
      font-family: cursive, sans-serif;
      text-align: center;
      padding: 20px;
   